/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Faces */
@font-face {
  font-family: "Helvetica Now Text";
  src: url("fonts/HelveticaNowText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP NeueBit";
  src: url("fonts/PPNeueBit-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PP Mono Regular";
  src: url("fonts/PPSupplyMono-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Sans Regular";
  src: url("fonts/PPSupplySans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Mono Light";
  src: url("fonts/PPSupplyMono-Ultralight.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "VCR Mono";
  src: url("fonts/VCR-Mono.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #f5f5f5;
  font-family: "VCR Mono", sans-serif; /* Fallback fonts */
  font-size: 14px;
  overflow-x: hidden;
  height: auto;
}
